@font-face {
    font-family: "VT323";
    src: url("./assets/Mecha_Condensed.ttf") format("truetype");
  }

* {
    cursor: none;
    user-select: none;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body {
    font-family: VT323;
    background-color: black;
    background-image: url(./assets/protocol7.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    image-rendering: pixelated;
    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url(./assets/protocol7.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    filter: blur(12px) brightness(2) saturate(2);      /* glow range */
    opacity:1;
    mix-blend-mode: screen;
}

.wifi #background,
.forecast #background {
    visibility: hidden;
    transition: visibility .2s step-end;
}

#foreground {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-template-areas:
      "top top"
      ". .";
    position: fixed;
    z-index: 0;
    padding: 1rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
  
#datetime { 
    margin-left: 1em;
    grid-area: top;
    align-self: start;
    justify-self: start;
}
#weather {
    display: flex;
    align-self: end;
    justify-self: start;
}
#wifi {
    align-self: end;
    justify-self: end;
    margin: 1rem
}

#time {
    font: 60px/1 VT323;
}
#date {
    font: 25px/1 VT323;
    float: right;
}

#weather .icon img {
    height: 100px;
}
#weather .icon div {
    text-align: center;
    font-size: 20px;
}
#weather .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.temp {
    font-size: 50px;
}
.rise, .set {
    display: flex;
    font-size: 20px;
    align-items: flex-end;
    justify-content: space-between;
}
.rise img, .set img {
    width: 50px;
    margin-right: 1ex;
}

#wifi {
    appearance: none;
    color: white;
    font-family: VT323;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 0;
    font-size: 32px;
}
#wifi > span {
    height: 32px;
    width: 32px;
    position: relative;
    background-image: url(./assets/wifi-logo.png);
    background-size: 100%;
    margin-right: .5ex;
}
#wifi > span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url(./assets/wifi-logo.png);
    background-size: 100%;
    filter: blur(3px) brightness(1.5);        /* glow range */
    opacity:1;
    mix-blend-mode: lighten;
}

#qr, #forecast, #calendar {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    transition: opacity steps(3, end) .2s;
}
#calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#calendar .table {
    text-align: center;
    font-size: 25px;
    transform: translateY(10px);
    transition: .2s steps(3, end) transform
}
.calendar #calendar .table {
    transform: translateY(0px);
}
#calendar table .highlight {
    color: #e397ae;
}
#calendar tbody .highlight {
    background: rgba(255,255,255,0.2)
}
#calendar thead td {
    padding: .25em
}

#qr {
    align-items: center;
    justify-content: center;
    display: flex;
}
#qr .code {
    background: white;
    color: black;
    font-size: 0;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 30px 0 #e397ae;
    will-change: transform;
    transform: translateY(10px);
    transition: .2s steps(3, end) transform, .2s box-shadow ;
}
button.exit {
    appearance: none;
    background-color: transparent;
    background-image: url(./assets/close.png);
    background-size: 60%;
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
}
button.exit::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./assets/close.png);
    background-size: 60%;
    background-position: bottom left;
    background-repeat: no-repeat;
    filter: blur(3px) brightness(1.5);        /* glow range */
    opacity:1;
    mix-blend-mode: lighten;
}

#qr .code img {
    width: 100%;
}
.calendar #calendar {
    visibility: visible;
    opacity: 1;
}

.wifi #qr {
    visibility: visible;
    opacity: 1;
}

.wifi #qr .code {
    transform: translateY(0);
}

#forecast {
    text-align: center;
    padding-top: 1em;
}
#forecast button.day {
    width: 13vw;
    max-width: 130px;
    position: relative;
    background-size: 80%;
    background-position: center;
    border-radius: 1em;
    border: 0;
    margin: .25em;
    padding: .5em;
    font-size: 20px;
    color: white;
    will-change: transform;
    transform: translateY(calc(50% + 10px));
    transition: transform .2s;
}
#forecast button.day .date {
    font-size: 1.2em;
}
#forecast button.day .icon {
    width: 100%;
}
#forecast button.day .temprange {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    border-radius: 15px;
    background: linear-gradient(to left, hsl(0, 100%, 70%),hsl(240, 100%, 70%));
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px;
}
.forecast #forecast {
    visibility: visible;
    opacity: 1;
}
.forecast #forecast button.day {
    transform: translateY(50%);
    will-change: transform;
}
#forecast .details {
    visibility: hidden;
    opacity: 0;
    position: relative;
    margin-top: 1em;
    transform: translateY(10px);
    will-change: transform;
    transition: transform .2s, opacity .2s;
}
#forecast .details .day {
    visibility: hidden;
    opacity: 0;
    transition: .2s opacity;
}
#forecast .details .day.visible {
    visibility: visible;
    opacity: 1;
}
#forecast .details .day {
    position: absolute;
    top: 0;
    width: 90vw;
    box-sizing: border-box;
    margin: 0 5vw;
    background-color: hsla(228, 5%, 15%, 0.7);
    border-radius: 1em;
    padding: 1em 0;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
}
.day .timestep {
    display: inline-block;
    color: white;
    margin: 0 1em;
}
.day .timestep .time {
    font-size: 1.2rem;
}
.day .timestep .temp {
    font-size: 2rem;
}
.day .timestep .icon {
    width: 50px;
}
.day::after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(100% - 9px);
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent hsla(228, 5%, 15%, 0.7) transparent;
    opacity: 0;
    transition: .2s opacity;
}
.day.active::after {
    opacity: 1;
}
#forecast.details button.day {
    transform: translateY(0%);
}

#forecast.details .details {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}