* {
    cursor: none;
    user-select: none;
}
:root {
    --fg: black;
    --bg: white;
}
body {
    font-family: Piboto, sans-serif;
    position: relative;
    overflow: hidden;
    height: 100vh;
    color: var(--fg);
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}
#datetime {
    position: fixed;
    top: 1rem;
    left: 2rem;
    display: inline-block;
    text-shadow: 0 .5em .35em black
}
#time {
    font: bold 8rem/1 Piboto;
    -webkit-text-stroke: 3px white;
    letter-spacing: -.05em;
    float: right;
}
#date {
    font: 900 3rem/1 Piboto;
    -webkit-text-stroke: 2px white;
    letter-spacing: -.015em;
    float: right;
}
#underline {
    display: inline-block;
    height: .25em;
    width: calc(100% - .25em);
    background: black;
    box-shadow: 0 0 0 2px white;
}
#wifiBtn {
	font: 700 2rem/1 Piboto;
    color: white;
	position: fixed;
	bottom: 20px;
	right: 20px;
    background: black;
    border: 3px solid white;
    padding: .75rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 .35em .1em black
}
#wifiBtn:focus {
    outline: none;
}
#wifiFrame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .3s
}
#wifiFrame.visible {
    pointer-events: all;
    opacity: 1;
}
#wifi {
    background: white;
    transform: translateY(20px) scale(1.15);
    transition: .3s transform, .3s scale;
	width: 150px;
	height: 180px;
    margin-bottom: 40px;
    border: 6px solid white;
    border-radius: 6px;
    box-shadow: 0 0 .35em black
}
#wifi > div {
    height: 30px;
    font: 800 1.5rem Piboto;
    line-height: 24px;
    vertical-align: top;
}
#wifi > img {
    width: 150px;
    height: 150px;
}
#exitWifi {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255,255,255,0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    padding: 0;
}
#exitWifi:focus {
    outline: none;
}
.visible #wifi {
    opacity: 1;
    transform: none;
}
#background {
	position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
	z-index: -1000
}
