* {
    cursor: none;
    user-select: none;
}
body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
	position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    z-index: -1;
}
#foreground {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-template-areas:
      "top top"
      ". .";
    position: fixed;
    padding: 1rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: drop-shadow(0 0 3px black)
}
  
#datetime { 
    margin-left: 1em;
    grid-area: top;
    align-self: start;
    justify-self: start;
}
#weather {
    display: flex;
    align-self: end;
    justify-self: start;
}
#wifiButton {
    align-self: end;
    justify-self: end;
    margin: 1em
}


#time {
    font: 800 100px/1 sans-serif;
    float: right;
}
#date {
    font: 600 25px/1 sans-serif;
    float: right;
    margin-right: .5ex;
}
#underline {
    display: inline-block;
    height: 5px;
    width: calc(100% - .5ex);
    background-color: white;
    border-radius: 2.5px;
}
#icon div {
    text-align: center;
    font: 700 18px/1 sans-serif;
    vertical-align: top;
}
#icon img {
    height: 150px;
}
#text {
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#temp {
    font: 800 60px/120px sans-serif;
}
#sunTimes {
    font: 700 18px/1 sans-serif;
    text-align: right;
}
#rise {
    margin-bottom: .25em;
}
#wifiButton button {
    font: 700 36px/1 sans-serif;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0
}
#wifiButton button:focus {
    outline: none
}
#wifiButton img {
    height: 36px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: .15em
}

#wifiFrame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .3s
}
#wifiFrame.visible {
    pointer-events: all;
    opacity: 1;
}
#wifi {
    background: white;
    transform: translateY(20px) scale(1.15);
    transition: .3s transform, .3s scale;
	width: 150px;
	height: 180px;
    margin-bottom: 40px;
    border: 6px solid white;
    border-radius: 6px;
    box-shadow: 0 0 .35em black
}
#wifi > div {
    height: 30px;
    font: 800 24px sans-serif;
    color: black;
    line-height: 24px;
    vertical-align: top;
}
#wifi > img {
    width: 150px;
    height: 150px;
}
#exitWifi {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255,255,255,0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    padding: 0;
}
#exitWifi:focus {
    outline: none;
}
.visible #wifi {
    opacity: 1;
    transform: none;
}