* {
    cursor: none;
    user-select: none;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
	position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    z-index: -1;
}
.wifi #background,
.forecast #background {
    visibility: hidden;
    transition: visibility .2s step-end;
}

#foreground {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-template-areas:
      "top top"
      ". .";
    position: fixed;
    z-index: 0;
    padding: 1rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: drop-shadow(0 0 3px black)
}
  
#datetime { 
    margin-left: 1em;
    grid-area: top;
    align-self: start;
    justify-self: start;
}
#weather {
    display: flex;
    align-self: end;
    justify-self: start;
}
#wifi {
    align-self: end;
    justify-self: end;
    margin: 1rem
}

#time {
    font: 800 100px/1 sans-serif;
    float: right;
}
#date {
    font: 600 25px/1 sans-serif;
    float: right;
    margin-right: .5ex;
}
#underline {
    display: inline-block;
    height: 5px;
    width: calc(100% - .5ex);
    background-color: white;
    border-radius: 2.5px;
}

#weather .icon img {
    height: 100px;
}
#weather .icon div {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#weather .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
}
.temp {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.rise, .set {
    display: flex;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    align-items: flex-end;
    justify-content: space-between;
}
.rise img, .set img {
    width: 50px;
    margin-right: 1ex;
}

#wifi {
    appearance: none;
    background: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 0;
    font-size: 32px;
    font-weight: bold;
}
#wifi img {
    height: 40px;
    margin-right: .5ex;
}

#qr, #forecast {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: hsl(228, 5%, 22%);
    background-image: url(noise.png);
    background-position: center;
    transition: opacity .2s;
}
#qr {
    align-items: center;
    justify-content: center;
    display: flex;
}
#qr .code {
    background: white;
    color: black;
    font-size: 25px;
    font-weight: 900;
    border-radius: 10px;
    padding: .25em .5em;
    width: 150px;
    transform: translateY(10px);
    transition: .2s transform;
}
#qr button.exit,
#forecast button.exit {
    appearance: none;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
}
#qr button.exit svg {
    position: absolute;
    width: 60px;
    bottom: 0;
    left: 0;
}
#qr .code img {
    width: 100%;
}

.wifi #qr {
    visibility: visible;
    opacity: 1;
}

.wifi #qr .code {
    transform: translateY(0);
}

#forecast {
    text-align: center;
    padding-top: 1em;
}
#forecast button.exit svg {
    width: 60px;
}
#forecast button.day {
    width: 13vw;
    max-width: 130px;
    position: relative;
    background-color: hsl(228, 5%, 30%);
    background-image: url(noise.png);
    background-size: 80%;
    background-position: center;
    border-radius: 1em;
    border: 0;
    margin: .25em;
    padding: .5em;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transform: translateY(calc(50% + 10px));
    transition: transform .2s;
}
#forecast button.day .date {
    font-size: 1.2em;
}
#forecast button.day .icon {
    width: 100%;
}
#forecast button.day .temprange {
    display: flex;
    font-size: 16px;
    line-height: 30px;
    border-radius: 15px;
    background: linear-gradient(to left, hsl(0, 100%, 70%),hsl(240, 100%, 70%));
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 10px;
}
#forecast .low, #forecast .high {
    filter: drop-shadow(0 0 3px black);
}
.forecast #forecast {
    visibility: visible;
    opacity: 1;
}
.forecast #forecast button.day {
    transform: translateY(50%);
}
#forecast .details {
    visibility: hidden;
    opacity: 0;
    position: relative;
    margin-top: 1em;
    transform: translateY(10px);
    transition: transform .2s, opacity .2s;
}
#forecast .details .day {
    visibility: hidden;
    opacity: 0;
    transition: .2s opacity;
}
#forecast .details .day.visible {
    visibility: visible;
    opacity: 1;
}
#forecast .details .day {
    position: absolute;
    top: 0;
    width: 90vw;
    box-sizing: border-box;
    margin: 0 5vw;
    background-color: hsla(228, 5%, 15%, 0.7);
    border-radius: 1em;
    padding: 1em 0;
    white-space: nowrap;
    overflow-x:auto;
}
.day .timestep {
    display: inline-block;
    margin: 0 1em;
}
.day .timestep .time {
    font-size: 1.2rem;
    font-weight: bold;
}
.day .timestep .temp {
    font-size: 2rem;
}
.day .timestep .icon {
    width: 50px;
}
.day::after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(100% - 9px);
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent hsla(228, 5%, 15%, 0.7) transparent;
    opacity: 0;
    transition: .2s opacity;
}
.day.active::after {
    opacity: 1;
}
#forecast.details button.day {
    transform: translateY(0%);
}

#forecast.details .details {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}